/* =============== GENERAL ====================== */
html{
	font-family: Arial, Helvetica, sans-serif;
}

body{
	background-color: #DCDCDC;
}


.operaciones .title{
	margin-left: 50px;
	font-size: 40px;
	text-transform: uppercase;
}

/* ================= NOTAS ===================== */
.nota{
	display: block;
	width: 14em;
	height: 5em;
	margin: 2em 4em 2em 4em;

	color: #000;
	font-style: normal;
	cursor: pointer;

    overflow: hidden;

	/* Color */
	background-color: #EFEF49;
	opacity: .9;

	/* borde */
	border: thin simple #EFEF49;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	border-radius: 30px 30px 30px 30px;


	/* sombra */
    -moz-box-shadow :1px 1px 1px #999,
    			2px 2px 1px #999,
    			3px 3px 1px #999,
    			4px 4px 1px #999,
    			5px 5px 1px #999;

    -webkit-box-shadow: 1px 1px 1px #999,
    			2px 2px 1px #999,
    			3px 3px 1px #999,
    			4px 4px 1px #999,
    			5px 5px 1px #999;

    box-shadow: 1px 1px 1px #999,
    			2px 2px 1px #999,
    			3px 3px 1px #999,
    			4px 4px 1px #999,
    			5px 5px 1px #999;
}

.nota h1{
	font-size: 1.7em;
	text-align: center;
	margin-top: 2em;
}

.nuevaNota{
	display: block;
	
	width: 14em;
	height: 8em;
	margin: 2em 4em 2em 4em;

	color: #000;
	font-style: normal;
	cursor: pointer;

	/* Color */
	background-color: #B1EB6A;
	opacity: .9;

	/* borde */
	border: thin simple #B1EB6A;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	border-radius: 30px 30px 30px 30px;


	/* sombra */
    -moz-box-shadow :1px 1px 1px #999,
    			2px 2px 1px #999,
    			3px 3px 1px #999,
    			4px 4px 1px #999,
    			5px 5px 1px #999;

    -webkit-box-shadow: 1px 1px 1px #999,
    			2px 2px 1px #999,
    			3px 3px 1px #999,
    			4px 4px 1px #999,
    			5px 5px 1px #999;

    box-shadow: 1px 1px 1px #999,
    			2px 2px 1px #999,
    			3px 3px 1px #999,
    			4px 4px 1px #999,
    			5px 5px 1px #999;
}

.nuevaNota h2{
	float:center;
	position:relative;
	text-align: center;
	margin-top: -0.8em;
}

.nuevaNota img{
	position: relative;
	margin-left:3.8em;
	width: 6em;
	height: 6em;
}

.notaPrincipal, #notaFormulario{
	display: block;
	
	width: 40em;
	height: 30em;
	margin: 2em 4em 2em 4em;
	padding: 10px 10px 10px 10px;

	color: #000;
	font-style: normal;

    overflow: hidden;

	/* Color */
	background-color: #B1EB6A;
	opacity: .9;

	/* borde */
	border: thin simple #000;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	border-radius: 30px 30px 30px 30px;


	/* sombra */
    -moz-box-shadow :1px 1px 1px #999,
    			2px 2px 1px #999,
    			3px 3px 1px #999,
    			4px 4px 1px #999,
    			5px 5px 1px #999;

    -webkit-box-shadow: 1px 1px 1px #999,
    			2px 2px 1px #999,
    			3px 3px 1px #999,
    			4px 4px 1px #999,
    			5px 5px 1px #999;

    box-shadow: 1px 1px 1px #999,
    			2px 2px 1px #999,
    			3px 3px 1px #999,
    			4px 4px 1px #999,
    			5px 5px 1px #999;
}

.notaPrincipal{
	visibility: hidden;
	position: absolute;
}

#notaFormulario{
	visibility: visible;
	position: absolute;
}

.notaPrincipal .title{
	position: relative;
	text-align: center;
	font-size: 30px;
	color: #000;
	margin-top: 10px;
	text-transform: uppercase;
}

.notaPrincipal .message{
	margin: 3px 8px 3px 20px;
	font-size: 20px;
	font-family: oldtown, fantasy;
	height: 15em;
	word-break: normal;
	overflow: auto;
}

#notaFormulario .formularioNota{
	width: 100%;
	height: 100%;
}

#notaFormulario .labelForm{
	margin: 15px 5px 10px 5px;
	position: relative;
	text-align: left;
	font-size: 24px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	margin-left:20px;
	display: block;
}

#notaFormulario .inputTitle{
	margin: 0px 5px 10px 25px;
	position: relative;
	width: 90%;
	display: block;
	font-size: 2em;
}

#notaFormulario .textAreaMessage{
	width: 90%;
	margin: 0px 5px 10px 25px;
	height: 12em;
	resize: none;
	display: block;
	font-size: 1.5em;
}

#notaFormulario .inputSaveNota{
	float: left;
	position: relative;
	display: inline;
	width: 5em;
	height: 5em;
	margin-left: 10em;
	margin-top:1em;
}

#notaFormulario .colorNota{
	position: relative;
	display: inline;
	margin-left: 20em;
}

.notaPrincipal .inputDeleteNota{
	width: 5em;
	height: 5em;
	margin-bottom: 0em;
	margin-left: 20em;
}

.notaPrincipal .inputCloseNota{
	width: 2em;
	height: 2em;
	float: right;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
	color: orange;
	opacity: 0.4;
}

input:-moz-placeholder, textarea:-moz-placeholder{
	color: orange;
}

input:-ms-input-placeholder, textarea:-ms-textarea-placeholder{
	color: orange;
}

/* ================ ANIMACIONES =================== */
.animacionQuitarNotaPrincipal{
	animation: quitarNotaPrincipal 3s linear 1 normal 0.5s both;
	-webkit-animation: quitarNotaPrincipal 3s linear 1 normal 0.5s both; /* Safari and Chrome */
	-moz-animation: quitarNotaPrincipal 3s linear 1 normal 0.5s both; /* Firefox */
	-o-animation: quitarNotaPrincipal 3s linear 1 normal 0.5s both; /* Opera (futuro) */
	-ms-animation: quitarNotaPrincipal 3s linear 1 normal 0.5s both; /* IE (futuro) */
}


@keyframes quitarNotaPrincipal{
	from{
		transform: rotate(0deg) scale(0) tranlate(0pt, 0pt);
		opacity: 1;
		visibility:visible;
	}
	to{
		transform: scale(0.2) translate(-150.0em, 0em) rotate(720deg);
		opacity: 0;
		visibility: hidden;
	}
}

@-webkit-keyframes quitarNotaPrincipal{
	from{
		-webkit-transform: rotate(0deg) scale(0) tranlate(0pt, 0pt);
		opacity: 1;
		visibility:visible;
	}
	to{
		-webkit-transform: scale(0.2) translate(-150.0em, 0em) rotate(720deg);
		opacity: 0;
		visibility: hidden;
	}
}

@-moz-keyframes quitarNotaPrincipal{
	from{
		-moz-transform: rotate(0deg) scale(0) tranlate(0pt, 0pt);
		opacity: 1;
		visibility:visible;
	}
	to{
		-moz-transform: scale(0.2) translate(-150.0em, 0em) rotate(720deg);
		opacity: 0;
		visibility: hidden;
	}
}

@-ms-keyframes quitarNotaPrincipal{
	from{
		-ms-transform: rotate(0deg) scale(0) tranlate(0pt, 0pt);
		opacity: 1;
		visibility:visible;
	}
	to{
		-ms-transform: scale(0.2) translate(-150.0em, 0em) rotate(720deg);
		opacity: 0;
		visibility: hidden;
	}
}

@-o-keyframes quitarNotaPrincipal{
	from{
		-o-transform: rotate(0deg) scale(0) tranlate(0pt, 0pt);
		opacity: 1;
		visibility:visible;
	}
	to{
		-o-transform: scale(0.2) translate(-150.0em, 0em) rotate(720deg);
		opacity: 0;
		visibility: hidden;
	}
}


.animacionQuitarNota{
	animation: quitarNota 3s linear 1 normal 0.5s both;
	-webkit-animation: quitarNota 3s linear 1 normal 0.5s both; /* Safari and Chrome */
	-moz-animation: quitarNota 3s linear 1 normal 0.5s both; /* Firefox */
	-o-animation: quitarNota 3s linear 1 normal 0.5s both; /* Opera (futuro) */
	-ms-animation: quitarNota 3s linear 1 normal 0.5s both; /* IE (futuro) */
}

@keyframes quitarNota{
	from{
		transform: rotate(0deg) scale(0) tranlate(0pt, 0pt);
		opacity: 1;
		visibility:visible;
	}
	to{
		transform: scale(0.2) translate(-150.0em, 0em) rotate(720deg);
		opacity: 0;
		visibility: hidden;
	}
}

@-webkit-keyframes quitarNota{
	from{
		-webkit-transform: rotate(0deg) scale(0) tranlate(0pt, 0pt);
		opacity: 1;
		visibility:visible;
	}
	to{
		-webkit-transform: scale(0.2) translate(-150.0em, 0em) rotate(720deg);
		opacity: 0;
		visibility: hidden;
	}
}

@-moz-keyframes quitarNota{
	from{
		-moz-transform: rotate(0deg) scale(0) tranlate(0pt, 0pt);
		opacity: 1;
		visibility:visible;
	}
	to{
		-moz-transform: scale(0.2) translate(-150.0em, 0em) rotate(720deg);
		opacity: 0;
		visibility: hidden;
	}
}

@-ms-keyframes quitarNota{
	from{
		-ms-transform: rotate(0deg) scale(0) tranlate(0pt, 0pt);
		opacity: 1;
		visibility:visible;
	}
	to{
		-ms-transform: scale(0.2) translate(-150.0em, 0em) rotate(720deg);
		opacity: 0;
		visibility: hidden;
	}
}

@-o-keyframes quitarNota{
	from{
		-o-transform: rotate(0deg) scale(0) tranlate(0pt, 0pt);
		opacity: 1;
		visibility:visible;
	}
	to{
		-o-transform: scale(0.2) translate(-150.0em, 0em) rotate(720deg);
		opacity: 0;
		visibility: hidden;
	}
}


.animacionPonerNota{
	animation: ponerNota 3s linear 1 normal 0.5s both;
	-webkit-animation: ponerNota 3s linear 1 normal 0.5s both; /* Safari and Chrome */
	-moz-animation: ponerNota 3s linear 1 normal 0.5s both; /* Firefox */
	-o-animation: ponerNota 3s linear 1 normal 0.5s both; /* Opera (futuro) */
	-ms-animation: ponerNota 3s linear 1 normal 0.5s both; /* IE (futuro) */	
}


@keyframes ponerNota{
	from{
		transform: scale(0.2) translate(-150.0em, 0em) rotate(720deg);
		opacity: 0;
	}
	to{
		transform: rotate(0deg) scale(0) tranlate(0pt, 0pt);
		opacity: 1;
		visibility: visible;
	}
}

@-webkit-keyframes ponerNota{
	from{
		-webkit-transform: scale(0.2) translate(-150.0em, 0em) rotate(720deg);
		opacity: 0;
	}
	to{
		-webkit-transform: rotate(0deg) scale(0) tranlate(0pt, 0pt);
		opacity: 1;
		visibility: visible;
	}
}

@-moz-keyframes ponerNota{
	from{
		-moz-transform: scale(0.2) translate(-150.0em, 0em) rotate(720deg);
		opacity: 0;
	}
	to{
		-moz-transform: rotate(0deg) scale(0) tranlate(0pt, 0pt);
		opacity: 1;
		visibility: visible;
	}
}

@-ms-keyframes ponerNota{
	from{
		-ms-transform: scale(0.2) translate(-150.0em, 0em) rotate(720deg);
		opacity: 0;
	}
	to{
		-ms-transform: rotate(0deg) scale(0) tranlate(0pt, 0pt);
		opacity: 1;
		visibility: visible;
	}
}

@-o-keyframes ponerNota{
	from{
		-o-transform: scale(0.2) translate(-150.0em, 0em) rotate(720deg);
		opacity: 0;
	}
	to{
		-o-transform: rotate(0deg) scale(0) tranlate(0pt, 0pt);
		opacity: 1;
		visibility: visible;
	}
}



/* ================ DIV =========================== */
.container{
	margin:auto;
	position:absolute;
	width: 95%;
}

.divRight{
	float: right;
	position: relative;
	width:74%;
	display: inline;
	margin: 0px 4px 0px 2px;
}

.divLeft{
	float: left;
	position: relative;
	width: 25%;
	display: inline;
	margin: 0px 2px 0px 4px;
}

.divLeft  h1{
	font-size: 1em;
	color: #000;
}